<a href="https://colab.research.google.com/github/Siri319/Uber_Data/blob/main/uber_data_sql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install -q pandasql
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())

  Preparing metadata (setup.py) ... done
  Building wheel for pandasql (setup.py) ... done

In [6]:
import pandas as pd

# Replace 'your_file.csv' with your actual filename
df = pd.read_csv('uber-data-cleaned.csv')

In [ ]:
# Example SQL query
query = "SELECT * FROM df ;"
result = pysqldf(query)
print(result)

      Request id Pickup point  Driver id             Status Request date  \
0            619      Airport        1.0          Completed   11-07-2016
1            867      Airport        1.0          Completed   11-07-2016
2           1807         City        1.0          Completed   12-07-2016
3           2532      Airport        1.0          Completed   12-07-2016
4           3112         City        1.0          Completed   13-07-2016
...          ...          ...        ...                ...          ...
6740        6745         City        NaN  No Cars Available   15-07-2016
6741        6752      Airport        NaN  No Cars Available   15-07-2016
6742        6751         City        NaN  No Cars Available   15-07-2016
6743        6754         City        NaN  No Cars Available   15-07-2016
6744        6753      Airport        NaN  No Cars Available   15-07-2016

     Request time  Drop  date Drop time  Trip Duration (mins)
0        11:51:00  11-07-2016  13:00:00             69.000000
1        17:57:00  11-07-2016  18:47:00             50.000000
2        09:17:00  12-07-2016  09:58:00             41.000000
3        21:08:00  12-07-2016  22:03:00             55.000000
4        08:33:16  13-07-2016  09:25:47             52.516667
...           ...         ...       ...                   ...
6740     23:49:03        None      None                   NaN
6741     23:50:05        None      None                   NaN
6742     23:52:06        None      None                   NaN
6743     23:54:39        None      None                   NaN
6744     23:55:03        None      None                   NaN

[6745 rows x 9 columns]

In [ ]:
# Total number of requests
query = "select count(`Request id`) from df ;"
result = pysqldf(query)
print(result)

   count(`Request id`)
0                 6745

In [ ]:
# Number of completed trips
query = "select count(`Request id`) from df where `Status` = 'Completed'"
result = pysqldf(query)
print("The number of completed trips -")
print(result)

The number of completed trips -
   count(`Request id`)
0                 2831

In [ ]:
# Number of cancelled trips
query = "select count(`Request id`) from df where `Status` = 'Cancelled'"
result = pysqldf(query)
print("The number of cancelled trips -")
print(result)

The number of cancelled trips -
   count(`Request id`)
0                 1264

In [ ]:
# Number of requests with “No Cars Available”
query = "select count(`Request id`) from df where `Status` = 'No Cars Available'"
result = pysqldf(query)
print("The number of requests with “No Cars Available” -")
print(result)

The number of requests with “No Cars Available” -
   count(`Request id`)
0                 2650

In [ ]:
# Number of requests from each pickup point (City vs Airport)
query = "select count(`Request id`) from df where `Pickup point` = 'City' ;"
result = pysqldf(query)
print(result)

query = "select count(`Request id`) from df where `Pickup point` = 'Airport' ;"
result = pysqldf(query)
print(result)

The number of requests from city -
   count(`Request id`)
0                 3507
The number of requests from airport
   count(`Request id`)
0                 3238

In [ ]:
# Which pickup point has the most failures?
query = "select `Pickup point`, count(`Request id`) from df where `Status` = 'No Cars Available' group by `Pickup point`;"
result = pysqldf(query)
print(result)

  Pickup point  count(`Request id`)
0      Airport                 1713
1         City                  937

In [9]:
# Number of requests by hour of the day (peak hours)
query = "select strftime('%H', `Request time`), count(`Request id`) from df group by strftime('%H', `Request time`);"
result = pysqldf(query)
print(result)

   strftime('%H', `Request time`)  count(`Request id`)
0                              00                   99
1                              01                   85
2                              02                   99
3                              03                   92
4                              04                  203
5                              05                  445
6                              06                  398
7                              07                  406
8                              08                  423
9                              09                  431
10                             10                  243
11                             11                  171
12                             12                  184
13                             13                  160
14                             14                  136
15                             15                  171
16                             16                  159
17                             17                  418
18                             18                  510
19                             19                  473
20                             20                  492
21                             21                  449
22                             22                  304
23                             23                  194

In [11]:
# Cancelled or failed requests by hour
query = "select strftime('%H', `Request time`), count(`Request id`) from df where `Status` = 'Cancelled' or `Status` = 'No Cars Available' group by strftime('%H', `Request time`);"
result = pysqldf(query)
print(result)

   strftime('%H', `Request time`)  count(`Request id`)
0                              00                   59
1                              01                   60
2                              02                   62
3                              03                   58
4                              04                  125
5                              05                  260
6                              06                  231
7                              07                  232
8                              08                  268
9                              09                  258
10                             10                  127
11                             11                   56
12                             12                   63
13                             13                   71
14                             14                   48
15                             15                   69
16                             16                   68
17                             17                  267
18                             18                  346
19                             19                  307
20                             20                  331
21                             21                  307
22                             22                  150
23                             23                   91

In [12]:
# Trip completion rate by time of day
query = "select strftime('%H', `Request time`), count(`Request id`) from df where `Status` = 'Completed' group by strftime('%H', `Request time`);"
result = pysqldf(query)
print(result)

   strftime('%H', `Request time`)  count(`Request id`)
0                              00                   40
1                              01                   25
2                              02                   37
3                              03                   34
4                              04                   78
5                              05                  185
6                              06                  167
7                              07                  174
8                              08                  155
9                              09                  173
10                             10                  116
11                             11                  115
12                             12                  121
13                             13                   89
14                             14                   88
15                             15                  102
16                             16                   91
17                             17                  151
18                             18                  164
19                             19                  166
20                             20                  161
21                             21                  142
22                             22                  154
23                             23                  103

In [17]:
# Average trip duration
query = "select avg(`Trip duration (mins)`) from df ;"
result = pysqldf(query)
print(result)
print("_________________________________________________________________")

# Minimum and maximum trip duration
query = "select min(`Trip duration (mins)`), max(`Trip duration (mins)`) from df ;"
result = pysqldf(query)
print(result)
print("_________________________________________________________________")

# Compare average trip duration between pickup points
query = "select `Pickup point`, avg(`Trip duration (mins)`) from df group by `Pickup point`;"
result = pysqldf(query)
print(result)

   avg(`Trip duration (mins)`)
0                     2.565642
_________________________________________________________________
   min(`Trip duration (mins)`)  max(`Trip duration (mins)`)
0                 -1413.033333                         83.0
_________________________________________________________________
  Pickup point  avg(`Trip duration (mins)`)
0      Airport                   -12.870774
1         City                    16.185406

In [21]:
# Number of repeated failures from a pickup point at a specific hour
query = "select `Pickup point`, strftime('%H', `Request time`), count(`Request id`) from df where `Status` = 'No Cars Available' group by `Pickup point`, strftime('%H', `Request time`);"
result = pysqldf(query)
print(result)
print("_____________________________________________________________________")
# Most common hours for cancelled trips
query = "select `Pickup point`, strftime('%H', `Request time`), count(`Request id`) from df where `Status` = 'Cancelled' group by `Pickup point`, strftime('%H', `Request time`);"
result = pysqldf(query)
print(result)
print("____________________________________________________________________")
# Times when No Cars Available is highest
query = "select `Pickup point`, strftime('%H', `Request time`), count(`Request id`) from df where `Status` = 'No Cars Available' group by `Pickup point`, strftime('%H', `Request time`);"
result = pysqldf(query)

   Pickup point strftime('%H', `Request time`)  count(`Request id`)
0       Airport                             00                   30
1       Airport                             01                   29
2       Airport                             02                   25
3       Airport                             03                   30
4       Airport                             04                   34
5       Airport                             05                    3
6       Airport                             06                    4
7       Airport                             07                    3
8       Airport                             08                    4
9       Airport                             09                    7
10      Airport                             10                   13
11      Airport                             11                   10
12      Airport                             12                   14
13      Airport                             13                   21
14      Airport                             14                    7
15      Airport                             15                   13
16      Airport                             16                    9
17      Airport                             17                  215
18      Airport                             18                  309
19      Airport                             19                  268
20      Airport                             20                  275
21      Airport                             21                  254
22      Airport                             22                  100
23      Airport                             23                   36
24         City                             00                   26
25         City                             01                   27
26         City                             02                   32
27         City                             03                   26
28         City                             04                   40
29         City                             05                   81
30         City                             06                   82
31         City                             07                   60
32         City                             08                   86
33         City                             09                   76
34         City                             10                   52
35         City                             11                   31
36         City                             12                   30
37         City                             13                   32
38         City                             14                   30
39         City                             15                   35
40         City                             16                   37
41         City                             17                   17
42         City                             18                   13
43         City                             19                   15
44         City                             20                   15
45         City                             21                   11
46         City                             22                   38
47         City                             23                   45
_____________________________________________________________________
   Pickup point strftime('%H', `Request time`)  count(`Request id`)
0       Airport                             04                    2
1       Airport                             05                    4
2       Airport                             06                    4
3       Airport                             07                    5
4       Airport                             08                    2
5       Airport                             09                    8
6       Airport                             10                    9
7       Airport                             11                    5
8       Airport                             12                   10
9       Airport                             13                    9
10      Airport                             14                    6
11      Airport                             15                   11
12      Airport                             16                   14
13      Airport                             17                   19
14      Airport                             18                   15
15      Airport                             19                   15
16      Airport                             20                   29
17      Airport                             21                   28
18      Airport                             22                    3
19         City                             00                    3
20         City                             01                    4
21         City                             02                    5
22         City                             03                    2
23         City                             04                   49
24         City                             05                  172
25         City                             06                  141
26         City                             07                  164
27         City                             08                  176
28         City                             09                  167
29         City                             10                   53
30         City                             11                   10
31         City                             12                    9
32         City                             13                    9
33         City                             14                    5
34         City                             15                   10
35         City                             16                    8
36         City                             17                   16
37         City                             18                    9
38         City                             19                    9
39         City                             20                   12
40         City                             21                   14
41         City                             22                    9
42         City                             23                   10
____________________________________________________________________

In [23]:
# Compare failure rates between City vs Airport
query = "select `Pickup point`, strftime('%H', `Request time`), count(`Request id`) from df where `Status` = 'No Cars Available' group by `Pickup point`, strftime('%H', `Request time`);"
result = pysqldf(query)
print(result)
print("_____________________________________________________________________")

# Failure rate by hour
query = "select strftime('%H', `Request time`), count(`Request id`) from df where `Status` = 'No Cars Available' group by strftime('%H', `Request time`);"
result = pysqldf(query)
print(result)

   Pickup point strftime('%H', `Request time`)  count(`Request id`)
0       Airport                             00                   30
1       Airport                             01                   29
2       Airport                             02                   25
3       Airport                             03                   30
4       Airport                             04                   34
5       Airport                             05                    3
6       Airport                             06                    4
7       Airport                             07                    3
8       Airport                             08                    4
9       Airport                             09                    7
10      Airport                             10                   13
11      Airport                             11                   10
12      Airport                             12                   14
13      Airport                             13                   21
14      Airport                             14                    7
15      Airport                             15                   13
16      Airport                             16                    9
17      Airport                             17                  215
18      Airport                             18                  309
19      Airport                             19                  268
20      Airport                             20                  275
21      Airport                             21                  254
22      Airport                             22                  100
23      Airport                             23                   36
24         City                             00                   26
25         City                             01                   27
26         City                             02                   32
27         City                             03                   26
28         City                             04                   40
29         City                             05                   81
30         City                             06                   82
31         City                             07                   60
32         City                             08                   86
33         City                             09                   76
34         City                             10                   52
35         City                             11                   31
36         City                             12                   30
37         City                             13                   32
38         City                             14                   30
39         City                             15                   35
40         City                             16                   37
41         City                             17                   17
42         City                             18                   13
43         City                             19                   15
44         City                             20                   15
45         City                             21                   11
46         City                             22                   38
47         City                             23                   45
_____________________________________________________________________
   strftime('%H', `Request time`)  count(`Request id`)
0                              00                   56
1                              01                   56
2                              02                   57
3                              03                   56
4                              04                   74
5                              05                   84
6                              06                   86
7                              07                   63
8                              08                   90
9                              09                   83
10                             10                   65
11                             11                   41
12                             12                   44
13                             13                   53
14                             14                   37
15                             15                   48
16                             16                   46
17                             17                  232
18                             18                  322
19                             19                  283
20                             20                  290
21                             21                  265
22                             22                  138
23                             23                   81

In [24]:
# Requests per day
query = "select date(`Request date`), count(`Request id`) from df group by date(`Request date`);"
result = pysqldf(query)
print(result)
print("_____________________________________________________________________")

# Most active days
query = "select date(`Request date`), count(`Request id`) from df group by date(`Request date`) order by count(`Request id`) desc;"
result = pysqldf(query)
print(result)
print("_____________________________________________________________________")

# Failure trends across dates
query = "select date(`Request date`), count(`Request id`) from df where `Status` = 'No Cars Available' group by date(`Request date`);"
result = pysqldf(query)
print(result)

  date(`Request date`)  count(`Request id`)
0                 None                 6745
_____________________________________________________________________
  date(`Request date`)  count(`Request id`)
0                 None                 6745
_____________________________________________________________________
  date(`Request date`)  count(`Request id`)
0                 None                 2650